
.blogposts{
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  color: tomato;
}

/* Blog Images */
.img-class{
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  transition: transform 0.3s ease-in-out;
  }

.img-class:hover {
  transform: scale(1.05);
} 
/* End of Blog IMages  */
.like-button {
    background-color:#fff;
    color:grey;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .like-button.liked {
    color: #ff002b;
  }

  .minimize{
    text-align: end; /*Minimize Button */
  }