/* For Header */
h5{
    color:cyan;
    font-family: cursive;
    text-align: left;
    padding-top: 5px;
    padding-left: 10px;
    font-size:24px;
    flex: 1;

}
h5:hover{
    color:ghostwhite
}
/* For Fotter */
h6{
    text-align: center;
    color: aqua;
}

h6:hover{
    color: chocolate;
}
