/*Navbar */
h5{
    color:cyan;
    font-family: cursive;
    padding-top: 5px;
    padding-left:2px;
    font-size:22px;

}
h5:hover{
    color:white;
}

.mylink{
    color: azure;
}

.navbar-toggler{
  color: white;
  height: 32px;
  width: 46px;
  border: none;
}
.mylink:hover{
    color:#4da6ff;
}
.mybutton {
margin-right: 8px;
}
.logout {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px solid #000; /* Optional: add a border */
  }

  /*Footer */
  .copyright{
    color: azure;
    text-align: center;
  }
  .social-icon{
    color: azure;
    margin-right: 8px;
  }