* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Montserrat,sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h3,h2,h1
{
    font-family:Montserrat;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Testimonials #Homepage */
.testimonial-1{
  background-image: url('https://wallpapers.com/images/high/bleach-pc-q6krf6843jyfa27q.webp');
    background-size: cover;
    background-position: center;
    height:565px;
}
.testimonial-2{
  /* background-image:url('https://images.alphacoders.com/846/84631.jpg'); */
  background-image: url('https://wallpaper.forfun.com/fetch/f3/f3cf1adf79a0b917c20380daa99cdc30.jpeg?');
  background-size: cover;
  background-position: center;
  height:565px;
}
.testimonial-3{
  background-image: url('https://wallpaper.forfun.com/fetch/d7/d7a12cf1106ee202c717b2617d457b95.jpeg');
  background-size: cover;
  background-position: center;
  height:565px;
}

.homepage{
  padding-top: 7%;
  padding-left: 10%;
  text-align:center;
}
.homeContent{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
.homeContent h1{
  font-size: 28px;
}

.testimonial-data-2{
  color:azure;
  text-align: end;
}
.testimonial-data-2 h2{
  margin-top: 3%;
  margin-right: 10%;
}

.testimonial-data-3{
  text-align: start;
  color: azure;
}

.testimonial-data-3 h2{
  margin-top: 6%;
  margin-left:2% ;
}
.testimonial-data-3 p{
  margin-left: 2%;
}
/*Footer Section */
.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer p {
  color: #645c5cd4;
}

.blogposts{
  text-align: center;
  font-family: fantasy;
  font-weight: bold;
  color: tomato;
}

.minimize{
  text-align: end;
}
